@model IEnumerable<MvcClientes.Models.Cliente>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewData["Title"] = "Clientes";
    }
</head>
<body>
    <div class="container">
        <header>
            <h2>@ViewData["Title"]</h2>
            <a asp-action="Criar">Novo</a>
        </header>
        <main>
            <table class="table">
                <thead> 
                    <th>@Html.DisplayNameFor(x => x.Id)</th> 
                    <th>@Html.DisplayNameFor(x => x.Nome)</th>
                    <th>@Html.DisplayNameFor(x => x.Documento)</th>
                    <th>@Html.DisplayNameFor(x => x.Ativo)</th>
                    <th></th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.Id)</td>
                            <td>@Html.DisplayFor(x => item.Nome)</td>
                            <td>@Html.DisplayFor(x => item.Documento)</td>
                            <td>@Html.DisplayFor(x => item.Ativo)</td>
                            <td>
                                <a asp-action="Editar">Editar</a> |
                                <a asp-action="Visualizar" asp-route-id="@item.Id" >Visualizar</a> |
                                <a asp-action="Excluir">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="footer">Quantidade:</td>
                        <td>@Model.Count()</td>
                    </tr>
                </tfoot> 
            </table>
        </main>        
    </div>    
</body>
</html>